<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="layout">房型名称</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="layout" id="layout" placeholder="请输入名称">
        <nz-form-explain *ngIf="form.get('layout').dirty && form.get('layout').errors">请输入名称</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="price_01">价格1</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="price_01" id="price_01" placeholder="请输入价格">
        <nz-form-explain *ngIf="form.get('price_01').dirty && form.get('price_01').errors">请输入价格1</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzFor="price_02">价格2</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="price_02" id="price_02" placeholder="请输入价格">
        <nz-form-explain *ngIf="form.get('price_02').dirty && form.get('price_02').errors">请输入价格2</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="book_price">预订价格</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <input nz-input formControlName="book_price" id="book_price" placeholder="请输入预订价格">
        <nz-form-explain *ngIf="form.get('book_price').dirty && form.get('book_price').errors">请输入预订价格</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzRequired nzFor="breakfast">是否含早餐</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <nz-select style="width: 200px;" formControlName="breakfast" nzAllowClear nzPlaceHolder="请选择">
          <nz-option nzLabel="包含" [nzValue]="true"></nz-option>
          <nz-option nzLabel="不包含" [nzValue]="false"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="form.get('breakfast').dirty && form.get('breakfast').errors">请选择</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="24" nzSm="7" nzFor="desc">描述</nz-form-label>
      <nz-form-control nzXs="24" nzSm="12" nzMd="10">
        <textarea nz-input formControlName="desc" id="desc" [nzAutosize]="{minRows: 4}" placeholder="请输入描述"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
        <button nz-button nzType="primary" type="submit" [nzLoading]="submitting">提交</button>
        <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>