page-hotel {
    p{
        border-radius:25px;
        background-color: lightskyblue;
        color: aliceblue;
        width:50px;
        margin-left:10px;
        padding-left:10px;
    }
    .call{ 
        line-height: 25px;
     }
}
