page-about {
button{
    margin: 0px;
}
ion-card img {
    width: auto;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  ion-slide div{
      display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
}
