page-contact {
 .validorder{
     font-size: 10px;
 }
 .orderdate{
        border-radius:25px;
        background-color: lightskyblue;
        color: aliceblue;
        width:45%;
        margin-left:10px;
        padding-left:10px;
       }
 .home{ 
    color: aliceblue;
    background-color: lightskyblue;
    border-radius:45%;
    padding: 3px;
    margin-right: 5px;
    font-size:2px;
 }
 .car{ 
    color: aliceblue;
    background-color: orange;
    border-radius:42%;
    padding: 3px;
    margin-right: 6px;
    font-size:2px;
 }

.cardtitle{
    font-size: 18px;
}
.cardcontent{
    color:blueviolet ;
    font-size: 1.0em;
}

ion-toolbar{
    background-color: lightblue;
    height:20px;
}

}
