page-contact {
 .orderdate{
        border-radius:25px;
        background-color: lightskyblue;
        color: aliceblue;
        width:45%;
        margin-left:10px;
        padding-left:10px
       }
 
}
